<tr>
  <td>
    <h4><%= category.name %></h4>
  </td>
  <td>
    <% category.products.each do |p| %>
      <%= p.name === category.products.last.name ? p.name : p.name + ','%>
    <% end %>
  </td>
</tr>