<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <h3> Thanks for shopping with us! </h3>
    <%= yield %>
  </body>
</html>
